.picture-block{
    height: 150px;
    width: 100px;
    background: no-repeat url(../images/image-header-mobile.jpg);
}



.attribution { 
    font-size: 11px; 
    text-align: center; 
    a { 
        color: hsl(228, 45%, 44%); 
    }
}
